<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tutorial Spring boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    
</head>
<body>
    <h1>Lista de usuarios</h1>

	<table>
		<thead >
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>

			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${usuarios}">
			<td th:text="${user.nombre}"></td>
			<td th:text="${user.apellido}"></td>
		</tr>
		</tbody>
	</table>
     
 </body>
</html>