<!DOCTYPE HTML>
<html>
<head>
    <title>Tutorial Spring boot</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    
</head>
<body>
<div id="container">
    <h1>Agregando usuario</h1>
    <form>
	    <label for="nombre">Nombre:</label>
	    <input type = "text" id = "nombre"><br>
	    <label for="apellido">Apellido:</label>
	    <input type = "text" id = "apellido"><br>
	    <label for="grupo">Grupo:</label>
	    <select id="grupo">
	    	<option value="1">Administradores</option>
	    	<option value="2">Operadores</option>
	    </select>
	    <button onclick="Agregar()"> Agregar </button>
	</form>
	</div>
 </body>

 <script>
    function Agregar(){

        Cnombre =  document.getElementById("nombre").value;
        Capellido =  document.getElementById("apellido").value;
        Cgrupo =  document.getElementById("grupo").value;

        var usuario = {
            nombre: Cnombre,
            apellido: Capellido,
            edad: 0,
            grupo: Cgrupo

        }



        const Http = new XMLHttpRequest();
     	const url = "http://localhost:8080/v1/usuarios/";
     	Http.open("POST", url);
        Http.send(JSON.stringify(usuario));

        if (Http.status == 201){
            alert("usuario agregado con exito")
        }
        else{
            alert("error al agregar usuario" + Http.responseText)
        }
    }
 </script>
</html>
