*{
	margin: 0px;
	padding: 0px;
}

#container{
	border: 1px solid black;
	width: 50%;
	margin: auto;
	margin-top: 2em;
	text-align: center;
	
}


h1{
	font-size: 2em;
	color: blue
}

input{
	font-size: 1.5em;
	padding: 0.5em;
	margin: 1.5em;
	background-color: #fff;
	border: 0.1em solid blue;
}



input:hover{
	background-color: #d6d6d6;
}
